@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "first"
    "second";
  margin: 0;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  grid-area: first;
}

.logo {
  align-self: flex-end;
  grid-column: 1 / -1;
  grid-row: 2;
  margin: 1rem 1rem 0;
  padding: 0 0 2rem 1rem;
  width: 14rem;
  z-index: 1;
}

.pano {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  margin: 1rem 1rem 0;
}

nav {
  display: contents;
}

nav ul {
  display: flex;
  font-family: "Patua One", sans-serif;
  font-size: 2rem;
  grid-column: 2;
  grid-row: 1;
  justify-content: flex-end;
  list-style-type: none;
  z-index: 1;
}

nav a {
  color: #fff;
  padding: 1rem;
}

main {
  display: contents;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: second;
}

main figure {
  margin: 1rem;
}

main h2 {
  color: #30658d;
  font-family: "Patua One", sans-serif;
  margin: 1rem 0 0;
}

main p {
  margin: 0;
}
